In [14]:
#imports
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate, KFold, ShuffleSplit
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

# from functools import partial
# from sklearn.base import clone

dataset = pd.read_csv("Auto-1.csv", na_values="?").dropna()
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

### 1)

In [17]:

train = train_test_split(dataset, test_size=196, random_state=1)
test = dataset[~dataset.isin(train)].dropna(how="all")

### 2)

In [20]:
print(train.head())
x_train = train['mpg'].values
x_test = test['mpg'].values
y_train = train['horsepower'].values.reshape(-1, 1)
y_test = test['horsepower'].values.reshape(-1, 1)

AttributeError: 'list' object has no attribute 'head'